.modal-overlay {
    display: flex;
    text-align: left;
    flex-direction: column;
    justify-content: left;
    width: 100%;
}

.modal {
    display: flex;
    text-align: left;
    flex-direction: column;
    justify-content: left;
    width: 100%;
}

/* Close button styles */
.close-btn {
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    color: #0056B3; 
}

/* Modal content styles */
/* .modal-content {
    margin-top: 10px;
    color: #000;
} */

/* Add any additional styling based on your design requirements */

@media all and (device-width: 768px) and (device-height: 1024px) and (orientation:portrait){
    .modal {
      max-height: 1024px;
    }
    .modal-overlay{
        max-height: 1024px;
    }
}

@media all and (device-width: 768px) and (device-height: 1024px) and (orientation:landscape){
    .modal {
      max-height: 768px;
    }
    .modal-overlay{
        max-height: 1024px;
    }
}