.spinner-overlay {
    position: absolute;
    background: rgba(0,0,0,0.05);
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
    vertical-align: middle;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
}