.error-page {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 99vh;
    margin: 0 10px;
    color: var(--color-dark);
    border: 1px solid #000000;
    padding: 10px;
    margin: 3px;
    border-radius: 5px;
}

/* Ipad specific media queries */
@media all and (device-width: 768px) and (device-height: 1024px) and (orientation:portrait) {
    .error-page {
        height: 1024px;
        overflow: scroll;
        -webkit-overflow-scrolling:touch; 
    }
}

@media all and (device-width: 768px) and (device-height: 1024px) and (orientation:landscape){
    .error-page {
      height: 768px;
      overflow: scroll;
      -webkit-overflow-scrolling:touch; 
    }
}

.error-icon path {
    fill: #d9534f !important;
}